<launch>

    <arg name="use_rviz" default="true"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <node pkg="tf" type="static_transform_publisher" name="ROSbot_laser" args="0 0 0 3.14 0 0 base_link laser 100" />

    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch"></include>

    <include file="$(find rosbot_ekf)/launch/all.launch">
        <arg name="rosbot_pro" value="true"/>
    </include>

    <node pkg="move_base" type="move_base" name="move_base" output="log">
                <param name="controller_frequency" value="10.0" />
                <rosparam file="$(find tutorial_pkg)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
                <rosparam file="$(find tutorial_pkg)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
                <rosparam file="$(find tutorial_pkg)/config/local_costmap_params.yaml" command="load" />
                <rosparam file="$(find tutorial_pkg)/config/global_costmap_params.yaml" command="load" />
                <rosparam file="$(find tutorial_pkg)/config/trajectory_planner.yaml" command="load" />
    </node>

    <arg name="map_file" default="$(find tutorial_pkg)/maps/home01/map.yaml"/>       <!-- path of map file -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" respawn="true" />

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <remap from="scan" to="scan"/>
        <param name="odom_frame_id" value="odom"/>
        <param name="odom_model_type" value="diff-corrected"/>
        <param name="base_frame_id" value="base_link"/>
        <param name="update_min_d" value="0.1"/>
        <param name="update_min_a" value="0.2"/>
        <param name="min_particles" value="500"/>
        <param name="global_frame_id" value="map"/>
        <param name="tf_broadcast" value="true" />
        <param name="initial_pose_x" value="0.0"/>
        <param name="initial_pose_y" value="0.0"/>
        <param name="initial_pose_a" value="0.0"/>
    </node>


    <param name="robot_description" command="$(find xacro)/xacro.py '$(find rosbot_description)/urdf/rosbot.xacro'"/>
    <!-- Show in Rviz   -->
    <!--<node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find rosbot_description)/rviz/rosbot.rviz" required="true" output="screen"/>-->
    <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" output="screen" />


</launch>
