<launch>

    <arg name="rosbot_pro" default="true"/>
    
    <include file="$(find tutorial_pkg)/launch/rosbot_hardware.launch">
        <arg name="rosbot_pro" value="$(arg rosbot_pro)" />
    </include>

    <node pkg="tutorial_pkg" type="drive_controller_node" name="drive_controller"/>

    <include file="$(find tutorial_pkg)/launch/gmapping.launch"></include>

    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tutorial_pkg)/rviz/tutorial_6.rviz"/>

</launch>
